html.paragraphs-previewer-popup-html .slab {
  background-color: white;
}

#toolbar-administration ul {
  margin: 0;
}

.content-meta .field {
  display: inline;
}

.contextual-links[hidden] {
  display: none !important;
}

.pullquote__meta .contextual-region {
  position: static;
}

/* clean up space between prefix and first slab */
.region-content-prefix + .slab {
  padding-top: 0;
}
.node--type-news .node__content .slab:first-child {
  padding-top: 0;
}

/* menu styling overrides */
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  ul.menu li {
    display: inline-block
  }

.universal-nav .menu-item {
  margin: 0;
}

.global-footer ul.menu li {
  display: block;
}

/* enforce embedded media widths */
.editorial .editorial__aside.align-right,
.editorial .editorial__aside.align-left
{
  width: 50%;
}

.editorial .embedded-entity.align-left {
  margin-right: 2rem;
  margin-left: -2vw;
}
.editorial .embedded-entity.align-right {
  margin-left: 2rem;
}

.embedded-entity img {
  max-width: 100%;
  width: auto;
}

.global-nav .menu li {
  margin-bottom: 0;
  line-height: inherit;
}

/* medium breakpoint */
@media screen and (min-width: 35rem) {
}

/* large breakpoint */
@media screen and (min-width: 58rem) {
  /* enforce embedded media widths */
  .editorial .editorial__aside.align-right,
  .editorial .editorial__aside.align-left
  {
    width: 40%;
  }
}

/* xl breakpoint */
@media screen and (min-width: 76rem) {
}