{% set schema = eck.field_theme_color_scheme|length? eck.field_theme_color_scheme.value : theme_settings.scheme_settings.page_header__split_header.value %}
{% include 'components-split-page-header' with {
  headline: content.field_headline_group,
  media: content.field_media,
  cta_primary: content.field_cta_link,
  cta_secondary: content.field_secondary_link,
  slab_variant: {'light': '', 'gray': 'slab--light-gray', 'dark': 'slab--dark-blue', 'wildcat': 'slab--wildcat-blue'}[schema]
} %}