<h{{ level|default(1) }}{% if heading_variant is not empty %} class="{{ heading_variant }}"{% endif %}>{% if linked is sameas(true) %}{% include 'atoms-link' with { label: headline } %}{% else %}<span class="heading__text">{{ headline }}{% endif %}</span></h{{ level|default(1) }}>