{% set searchid = "search-keywords"|uniqid %}
<form class="search" method="get" action="/search">
  <label for="{{ searchid }}">Search our Site</label>
  <div class="control-group">
    <input type="text" name="keys" id="{{ searchid }}" />
    <button class="icon-only">
      {% include 'atoms-icon-label' with { icon: 'magnify', label: 'search' } %}
    </button>
  </div>
</form>