{% set footernavid = 'universal-links'|uniqid %}
{% embed 'molecules-slab' with { slab_variant: 'slab--wildcat-blue universal-footer' } %}
    {% block slab_content %}
        {% if not is_main %}
            <a href="https://www.uky.edu">{% include 'atoms-uk-wordmark' %}</a>
        {% endif %}
        <div class="universal-footer__ribbon">
            <div>&copy; University of Kentucky</span></div>
            <div><a href="#">{% include 'atoms-icon-label' with { icon: 'pin', 'label': 'Lexington, Kentucky 40506' } %}</a></div>
            <div>An Equal Opportunity University</span></div>
            <div><a href="#" class="underline-link">Accreditation</a></div>
            <div><a href="#" class="underline-link">Directory</a></div>
            <div><a href="#" class="underline-link">Email</a></div>
            <div><a href="#" class="underline-link">Accessibility</a></div>
        </div>
    {% endblock %}
{% endembed %}