{% embed 'molecules-tabs' with { tabs_variant: 'mobile-tab-nav'} %}
    {% block tabs_tabs %}
        {% include 'molecules-tab-tab' with { tab_target : "mobile_mainmenu", tab_label : "Main Menu / Search" } %}
        {% include 'molecules-tab-tab' with { tab_target : "mobile_section", tab_label : "In This Section" } %}
    {% endblock %}
    {% block tabs_panels %}
        {% embed 'molecules-tab-panel' with { tab_panel_id : "mobile_mainmenu" } %}
            {% block tab_panel_content %}
                {{ page.mobile_tab_mainmenu }}
            {% endblock %}
        {% endembed %}
        {% embed 'molecules-tab-panel' with { tab_panel_id : "mobile_section" } %}
            {% block tab_panel_content %}
                {{ page.mobile_tab_section }}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}